<header class="header">
        <nav>
          <ul class="header-nav">
                
            <li><a class = "menu-link" href="./index.html">Home</a></li>
            <li><a class = "menu-link" href="./wiki.html">About this web-site</a></li>
            <li><a class = "menu-link" href="./about.html">About me</a></li>
            
          </ul>
        </nav>
        <a href="./index.html" class="header-logo"><img src="https://en.gravatar.com/userimage/157126484/031ac2c92f06c09cfb67e8e8cc425bdf.jpg?size=200" alt="Dalek-logo"></a>
       
      </header>