<!DOCTYPE html>
<html>
  <head>
    <title>Image gallery</title>
    <meta charset="utf-8">
    <style>
         .nav-menu {
        text-align: right;
      }
        .nav-spacing {
        margin: 0 0 0 10px;
    }
    </style>
  </head>
  <body>
      <h3>Menu</h3>
      <div>
        <a href="./about.html" class = "nav-spacing">About me</a>
        <a href="./wiki.html" class = "nav-spacing">About this web-site</a>
    </div>
    <p>Hello, world!</p>
    <p>Hello, world!</p>
    <p>Hello, world!</p>
  </body>
</html>